*{
    font-family : roboto "sans-seriff";
}

body{
    margin: 0;
    padding: 0;
}

.quote{
    background-color: #E5E7EB;
    font-size: 24px;
    color: #1F2937;
    font-weight: 150;
    padding: 25px;
}

.name{
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
}

.sign_up{
    background-color: #3882F6;
    color : #FFF;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    margin: 70px 150px;
    border-radius: 8px;
}

.button button{
    color: #FFF;
    background-color: #3882F6;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding-left: 20px;
    padding-right:20px;
    margin-left:200px;
    margin-right:70px;
}

.footer{
    background-color: #1F2937;
    color:#E5E7EB;
    text-align: center;
    font-size: 18px;
}